<div class="popup__wrapper" *ngIf="isOpen">
  <div class="popup__body">
    <div class="popup__close" (click)=close()>
      <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <line x1="0.935622" y1="0.649902" x2="12.9564" y2="12.6707" stroke="#BEBEBE" stroke-linecap="round"/>
        <line x1="12.9236" y1="0.629714" x2="0.902769" y2="12.6505" stroke="#BEBEBE" stroke-linecap="round"/>
      </svg>
    </div>
    <div class="popup__title section-title">Закажите бесплатную
      консультацию!</div>
    <div class="popup__form" [formGroup]="popupForm">
      <div class="popup__inputs">
        <div class="popup__input">
          <select class="input" formControlName="service">
            <option value="Создание сайтов">Создание сайтов</option>
            <option value="Продвижение">Продвижение</option>
            <option value="Реклама">Реклама</option>
            <option value="Копирайтинг">Копирайтинг</option>
          </select>
        </div>
        <div class="popup__input">
          <input type="text" placeholder="Ваше имя" class="input" formControlName="name">
        </div>
        <div class="popup__input">
          <input type="text" placeholder="Ваш номер телефона" class="input" formControlName="phone" appPhoneMask>
        </div>
      </div>
      <div class="popup__button btn" (click)="orderRequest()">Заказать консультацию</div>
    </div>
  </div>
</div>
