<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__inner-top">
        <div class="footer__logo">
          <a href="#">
            <img src="assets/images/logo.svg" alt="Logo image">
          </a>
        </div>
        <nav class="footer__nav">
          <ul>
            <li class="nav__item">
              <a href="javascript:void(0)" routerLink="/" fragment="services">Услуги</a>
            </li>
            <li class="nav__item">
              <a href="javascript:void(0)" routerLink="/" fragment="about">О нас</a>
            </li>
            <li class="nav__item">
              <a routerLink="/articles" routerLinkActive="active">Статьи</a>
            </li>
            <li class="nav__item">
              <a href="javascript:void(0)" routerLink="/" fragment="reviews">Отзывы</a>
            </li>
            <li class="nav__item">
              <a href="javascript:void(0)" routerLink="/" fragment="contacts">Контакты</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="footer__inner-bottom">
        <div class="footer__address">
          <div class="footer-bottom-title">
            Адрес
          </div>
          <div class="address-text">Пресненская наб., 12, Москва, Россия, 123317.</div>
        </div>
        <div class="footer__phone">
          <div class="footer-bottom-title">Телефон</div>
          <div class="phone-text">
            <a href="tel:74993431334">+7 (499) 343-13-34</a>
          </div>
          <div class="phone-button">
            <button class="btn footer__btn" (click)="openPopup()">Перезвоните мне</button>
          </div>
        </div>
        <div class="footer__mail">
          <div class="footer-bottom-title">E-mail</div>
          <div class="mail-text">
            <a href="mailto:info@itstorm.com">info@itstorm.com</a>
          </div>
        </div>
        <div class="footer__socials">
          <div class="footer-bottom-title">Мы в социальных сетях:</div>
          <div class="social__items">
            <div class="social__item">
              <a href="javascript:void(0)">
                <img src="assets/images/socials/vk-com.svg" alt="VK">
              </a>
            </div>
            <div class="social__item">
              <a href="javascript:void(0)">
                <img src="assets/images/socials/facebook.svg" alt="Facebook">
              </a>
            </div>
            <div class="social__item">
              <a href="javascript:void(0)">
                <img src="assets/images/socials/instagram.svg" alt="Instagram">
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="footer__rights">© 2022. Все права защищены</div>
    </div>
  </div>
</footer>
